body{
    background-color: #000000;
    background-image: url('./bg.jpg');
    background-size:cover;
}
.forgot-wrapper {
  text-align: right;
  margin-top: 8px;
  margin-bottom: 15px;
}

.forgot-link {
  font-size: 14px;
  color: #ff6600;
  text-decoration: none;
  font-weight: 500;
}

.forgot-link:hover {
  text-decoration: underline;
}